<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>New Zealand</title>
    <%-include ('partials/header1.ejs')%>
</head>
<body>
     <%-include ('partials/navbar1.ejs')%>
    <h1>Welcome to Auckland</h1>
    <p> Auckland, based around 2 large harbours, is a major city in the north of New Zealand’s North Island. In the centre, the iconic Sky Tower has views of Viaduct Harbour, which is full of superyachts and lined with bars and cafes. Auckland Domain, the city’s oldest park, is based around an extinct volcano and home to the formal Wintergardens. Near Downtown, Mission Bay Beach has a seaside promenade.</p>
</body>
</html>