<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>New Zealand</title>
    <%-include ('partials/header1.ejs')%>
</head>
<body>
     <%-include ('partials/navbar1.ejs')%>
     <div class="container">
        <h2>Beaches</h2>
        <img src="" alt="New Zealand Beaches" class="img-fluid">
         <p> Piha Beach is....</p>
         <p> Piha Beach is a black-sand surf beach located on the rugged west coast of 
            New Zealand's North Island, about 40 minutes from Auckland. It's known for its 
            dramatic scenery, strong surf, and iconic Lion Rock, a volcanic monolith with 
            Maori carvings and war memorials. </p>
    <h4> New Zealand Beaches</h4>
   
    <li> Karekare Beach: A remote beach with dramatic cliffs and a waterfall.</li>
    <li> Bethells Beach: A wild beach with black sand and rugged cliffs.</li>
    <li> Muriwai Beach: Famous for its gannet colony and stunning sunsets.</li>
</body>
</html>